.weatherapp-header {
  display: flex;
  justify-content: flex-end;
}

.location-input {
  width: 15rem;
  height: 3rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  background-color: transparent;
  font-size: 1.5rem;
}

.location-input::placeholder {
  font-size: 1.5rem;
}

.search-button {
  outline: none;
  border: none;
  color: var(--accent-color);
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 100;
  padding: 0 1rem;
}

.search-button:hover,
.search-button:active {
  outline: none;
  color: var(--accent-color-light);
}
